section.places h1 {
        font-size: 30px;
}

.r0 {
        display: inline-block; 
        border: 1px solid #FF5A5F;
        width: 390px; 
        border-radius: 4px; 
        padding: 20px;    
        margin: 20px;
}
.r0 h2 {
        font-size: 30px;
        text-align: center;
}

.r1 {
        border: 1px solid #FF5A5F;
        width:390px;
        border-radius: 4px;
        padding: 20px;    
        margin: 20px;
        margin-left: 25%; 
}
.r1 h2 {
        font-size: 30px;
        text-align: center;
}